body {
  background-color: lightgray;
}

.stick {
  background-color: black;
  height: 100px;
  width: 20px;
  margin: auto;
}

.semaforo {
  background-color: black;
  height: 320px;
  width: 120px;
  margin: auto;
  padding: 5px;
}

.ballOne {
  margin-top: 6px;
  height: 100px;
  width: 111px;
  border-radius: 50%;
  background-color: red;
  border-color: blue;
  border-width: 10px;
}
.ballTwo {
  height: 100px;
  width: 111px;
  border-radius: 50%;
  background-color: yellow;
  border-color: white;
  border-width: 5px;
}
.ballThree {
  height: 100px;
  width: 111px;
  border-radius: 50%;
  background-color: green;
  border-color: white;
  border-width: 5px;
}
